.pagination button {
    padding: .25rem .5rem;
    margin: .25rem 0;
    font-size: .625rem;
    color: #fff;
    background-color: #6c79db;
    border: none;
    border-radius: 1rem;
}

@media screen and (min-width: 992px) {
    .content {
     max-width: 992px;
     height: auto;
     margin: 1rem auto;
     border-radius: 1rem;
    }
   }

   @media screen and (min-width: 380px) {
    .pokemons {
    grid-template-columns: 1fr 1fr;
    }
   }

@media screen and (min-width: 576px) {
    .pokemons {
    grid-template-columns: 1fr 1fr ;
    }
   }

@media screen and (min-width: 992px) {
    .pokemons {
    grid-template-columns: 1fr 1fr 1fr ;
    }
   }

@media screen and (min-width: 992px) {
    .content {
        max-width: 992px;
        height: auto;
        margin: 1rem auto;
        border-radius: 1rem;
    }
}
